--allman false
--disable andOperator
--disable unusedArguments
--disable opaqueGenericParameters
--disable conditionalAssignment
--lineaftermarks false
--swiftversion 6.2
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--xcodeindentation enabled
--extensionacl on-declarations
